# Secrets for sensitive information
apiVersion: v1
kind: Secrets
metadata:
  name: devops-secrets
type: Opaque
data:
  api-key: your-api-key-here
  jwt-secret: your-jwt-secret-here
  api-key-test: your-api-key-here
  jwt-secret-test: your-jwt-secret-here
  jwt-exiration-hours: 1
  port: "5000"
