# Secrets for sensitive information
apiVersion: v1
kind: Secrets
metadata:
  name: devops-secrets
type: Opaque
data:
  API_KEY: your-api-key-here
  JWT_SECRET: your-jwt-secret-here
  API_KEY_TEST: your-api-key-here
  JWT_SECRET_TEST: your-jwt-secret-here
  JWT_EXPIRATION_HOURS: 1
  PORT: "5000"
